<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/24e14e3299.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="mudrunner.css">
</head>

<body>
    <h1 class="zagolovok text-center">Mudrunner Vehicles List</h1>
    <h4>Beta 1.1.3</h4>
    <div class="container" id="film-app">
        <div class="search">
            <i class="fab fa-phabricator"></i>
            <input v-model="search" type="text" placeholder="Введите номер модели" class="search-truck">
        </div>
        <ul class="film-list">
            <li class="list-item" v-for="(item, index) in myFilter">
                <div class="rel">
                    <div class="card" v-on:mouseenter="modalShow(index)"
                    v-on:mouseleave="modalHide"
                    v-bind:class="{'active' : currentIndex == index}"
                    v-bind:class="{'non-active': currentIndex != index}">
                        <div class="poster">
                            <img v-bind:src="item.image" class="card-img-top" alt="...">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{item.name}}</h5>
                            <p class="card-text">{{item.about}}</p>
                            <a href="truck-1.html" target="_blank" class="btn btn-primary" v-bind:href="item.link">Перейти</a></a>
                        </div>
                        <div class="about" v-if="currentIndex == index">
                            {{item.description}}
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="spintires.js"></script>
</body>

</html>