body{
    font-family: Comfortaa, sans-serif;
    background: rgb(26, 25, 25);
}
.carousel .carousel-item{
    height: 500px;
}
.header{
    color: white;
    text-align: center;
    margin-top: 1rem;
}
.capt{
    text-align: center;
    color: rgb(109, 109, 109);
    
}
.sec{
    margin-top: 2rem;
}
.br2{
    border-radius: 30px;
    margin-top: 1rem;
}

@media only screen and (min-width:668px) {
    .carousel-item{
        max-height: 400px;
        background-position: center center;
    }
}
.zg{
    color: white;
}
.last{
    height: 50px;
    color: white;
    text-align: center;
    background-color: rgb(51, 50, 50);
}
